*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

/* [] - large  */
/* {} - curly */
/* () - small */

h1 {

  

}


.form-heading{  
   /* text-align: center; */

   margin: 0 50px;

    color: red;
}




.box{
    width: 300px;
    height: 300px;
    border: 1px dashed red;
    margin: 30px; 
    background-color: rgb(246, 236, 138);
    /* padding: 60px; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}





input, select {
    padding: 8px;

    border-radius: 0.3rem;
    /* outline: 2px solid blue; */
    border: none;
}



.registration-form{
    display: flex;
    flex-direction: column;

    border: 1px solid gray;
    padding: 1rem;
    background-color: rgb(248, 248, 248);

    gap: 1rem;

    width: 40%;

    margin: auto;

    border-radius: 1rem;



    /* 1 rem = 16px */
}


.learning-flex{
    display: flex;
}


.form-inputs{
    display: flex;
    flex-direction: column;
}


.submit-btn{
    padding: 0.7rem;
    background: none;
    border: none;
    outline: none;
    background-color: rgb(162, 238, 162);
    border-radius: 2rem;
    color: rgb(89, 89, 89);
    width: 30%;
}

.button-group{
    display: flex;
    gap: 0.4rem;

    align-items: center;
    justify-content: start;
}


.reset{
    background-color: rgb(243, 172, 172)
}


label{
        color: red;
}